* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}


.cardCourse {
  line-height: normal;
}

.registerForm{
  line-height: 2em;
}

.spinner{
  justify-content: center;
  align-items: center;
}